<a href="https://colab.research.google.com/github/FayezAltawafshih/Data-Analyst-with-Python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programmin Languages used for Machine Leraning

1.Python


2.R

#Print Function

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Machine Learning" + " Projects")

Machine Learning Projects

In [ ]:
print(8)

8

In [ ]:
print(8+3)

11

#Basic Data types:

1. Integer (int)
2. float
3. str

In [ ]:
type(8)

int

In [ ]:
type(5.3)

float

In [ ]:
type("english")

str

#Constants & Variables

In [ ]:
superhero = "Iron Man"

In [ ]:
print(superhero)

Iron Man

In [ ]:
marvel_super_hero = "Captain America"
print(marvel_super_hero)

Captain America

In [ ]:
hero1,hero2,hero3 = 'Fayez','Emam','Mohammad'

In [ ]:
print(hero1)
print(hero2)
print(hero3)

Fayez
Emam
Mohammad

In [ ]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

#Input Function

In [ ]:
number_1 = int(input("Enter the first number: "))
number_2 = int(input("Enter the second number: "))

sum = number_1 + number_2

print(sum)

Enter the first number: 23
Enter the second number: 23
46

In [ ]:
# changing the data type

num = 5
float(num)
print(float(num))

5.0

In [ ]:
# integers
a = 8
print(a)

8

In [ ]:
type(a)

int

In [ ]:
# floating point
b = 2.3
print(b)
type(b)

2.3

float

In [ ]:
# complex Number
c = 1+3j
print(c)
type(c)

(1+3j)

complex

Conversion of one data type to another

In [ ]:
# int to float
x = 10
print(x)
type(x)

10

int

In [ ]:
y = float(x)
print(y)
type(y)

10.0

float

In [ ]:
print(x)

10

In [ ]:
# float to int
x = 5.88
print(x)
type(x)

5.88

float

In [ ]:
y = int(x)
print(y)
type(y)

5

int

Boolean

1.True

2.False

In [ ]:
a = True
print(a)
type(a)

True

bool

In [ ]:
b = False
print(b)
type(b)

False

bool

In [ ]:
a = 7 < 3
print(a)
type(a)

False

bool

String

In [ ]:
print("Machine Learning ")

Machine Learning

In [ ]:
print('Machine Learning ')

Machine Learning

In [ ]:
my_string = "Machine Learning"
print(my_string)

Machine Learning

In [ ]:
type(my_string)

str

In [ ]:
print("Hello"*5)

HelloHelloHelloHelloHello

Slicing

In [ ]:
my_string = "programming"

In [ ]:
print(my_string[1:5])

rogr

In [ ]:
# step
print(my_string[0:10:2])

pormi

String Concatenation

In [ ]:
word_1 = "Machine"
word_2 = "Learning"

print(word_1 + word_2)

MachineLearning

**Operators** **in** **Python**

1. Arthmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

1. Arthmetic Operators

In [ ]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print("sum = ", sum)

# Subtraction
diff = num_1 - num_2
print("difference = ",diff)

# multiplication
pro = num_1 * num_2
print("product = ",pro)

# division
div = num_1 / num_2
print("division = ",div)

# floor division
floor_div = num_1 // num_2
print("floor division = ",floor_div)

# exponent
exp = num_1 ** num_2
print("exponent = ",exp)

# modulus
mod = num_1 % num_2
print("modulus = ",mod)

sum =  30
difference =  10
product =  200
division =  2.0
floor division =  2
exponent =  10240000000000
modulus =  0

2. Assignment Operators

In [ ]:
a = 5
print(a)

5

In [ ]:
a = 5
a += 5
print(a)

10

In [ ]:
b = 5
b -= 2 # b = b - 2
print(b)

3

3. Comparison Operators

In [ ]:
a = 5
b = 10

print(a == b) # equal to
print(a != b) # not equal to
print(a > b) # greater than
print(a < b) # less than
print(a >= b) # greater than or equal to
print(a <= b) # less than or equal to

False
True
False
True
False
True

In [ ]:
a = 10

print(a > 10 and a > 5)
print(a > 10 or a > 5)
print(not(a > 8 and a > 5))

False
True
False

5. Identity Operator

In [ ]:
x = 5
y = 5

print(x is y)

True

In [ ]:
x = 5
y = 10

print(x is y)

False

In [ ]:
x = 5
y = 5

print(x is not y)

False

In [ ]:
x = 5
y = 10

print(x is not y)

True

In [ ]:
a = 5
b = 10
c = [1,2,3,4,5]

print(a in c)
print(b in c)

True
False

In [ ]:
a = 5
b = 10
c = [1,2,3,4,5]

print(a not in c)
print(b not in c)

False
True

**if** **else** **statement** **in** **python**

In [ ]:
a = 30
b = 50

if(a > b):
  print("a is greatest than number")
else:
  print("b is greatest than number")

b is greatest than number

In [ ]:
a = input("Enter the first number: ")
b = input("Enter the second number: ")

if(a > b):
  print("First number is the greatest ")
else:
  print("Second number is the greatest ")

Enter the first number: 16
Enter the second number: 20
Second number is the greatest

if elif else statement

In [ ]:
a = 15
b = 25
c = 30

if(b<a>c):
  print("a is the greatest number")
elif(a<b>c):
  print("b is the greatest number")
else:
  print("c is the greatest number")

c is the greatest number

Nested if Statement

In [2]:
a = 20
b = 40
c = 60

if(a>b):
  if(a>c):
    print("a is the greatest number")
  else:
    print("c is the greatest number")
else:

  if(b>c):
    print("b is the greatest number")
  else:
    print("c is the greatest number")

c is the greatest number

**2.7** **Loops**  **In** **Python**

Using for loop when we know the number of repetitions but using while when we don't know repetitions  

for loop & while loop

In [3]:
laptop1 = int(input("Enter the price of the laptop: "))
laptop2 = int(input("Enter the price of the laptop: "))
laptop3 = int(input("Enter the price of the laptop: "))
laptop4 = int(input("Enter the price of the laptop: "))
laptop5 = int(input("Enter the price of the laptop: "))

Enter the price of the laptop: 100
Enter the price of the laptop: 200
Enter the price of the laptop: 300
Enter the price of the laptop: 400
Enter the price of the laptop: 500

In [4]:
for i in range(5): # 0,1,2,3,4
  laptop_price = int(input("Enter the price of the laptop"))

Enter the price of the laptop20000
Enter the price of the laptop30000
Enter the price of the laptop40000
Enter the price of the laptop50000
Enter the price of the laptop60000

In [7]:
for i in range(7): # 0,1,2,3,4,5,6
  laptop_price = int(input("Enter the price of the laptop : "))

Enter the price of the laptop : 6
Enter the price of the laptop : 7
Enter the price of the laptop : 8
Enter the price of the laptop : 9
Enter the price of the laptop : 2
Enter the price of the laptop : 3
Enter the price of the laptop : 4

In [8]:
numbers = [50,100,150,200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [9]:
numbers = [50,100,150,200]

for i in numbers:
  print(i)

50
100
150
200

While Condition

Statement

In [10]:
i = 0

while i<10:
  print(i)
  i +=1 # i = i + 1

0
1
2
3
4
5
6
7
8
9